body {
    background-color: grey;
}

.container {
    margin: auto;
    width: 1020px;
}

ul li {
    display: inline-block;
}

header h1 {
    font-size:133px;
}

nav {
    text-align: center;
}

 header h2 {
    text-align: center;
}

.intro {
    text-align: center;
}

.icons {
    text-align: center;
}

section article {
    display: inline-block;
    width: 33%;
}

article p {
    width: 260px;
    height: 480px;
}