body {
    background-color: grey;
    height: 1010px;
    width: 1400px;
    margin: auto;
}

.container {
    margin: auto;
    width: 1020px;
}

ul li {
    display: inline-block;
}


header h1 {
    font-size:133px;
    height: 320px;
}

nav {
    text-align: center;
    height: 60px;
}

 header h2 {
    text-align: center;
}

.intro {
    text-align: center;
    width: 900px;
    height: 90px;
    margin: auto;
}

.icons {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

section article {
    display: inline-block;
    width: 33%;
}

article p {
    width: 260px;
    height: 480px;
}

i {
    height: 40px;
}
